<section >

    <div class="home " >


        <div class="home-img">
            <div class="over-lay animated  "></div>
            <img src="./assets/img/my-img/clip.svg" class=" img img-layout " >
            <img src="./assets/img/my-img/img1.jpg" class=" img my-img" alt="Galal Hegazy">
        </div>

        <div class="home-nav animated">
            <div class="column">
                <button class="nav-button  " routerLinkActive="active" routerLink="personal">
                    <img src="./assets/img/logo-home/personal.png" />
                    <span>Personal</span>
                </button>
                <button class="nav-button " routerLink="contacts">
                    <img src="./assets/img/logo-home/contacts.png" />
                    <span>Contacts</span>
                </button>
            </div>
            <div class="column">
                <button class="nav-button " routerLink="portfolio">
                    <img src="./assets/img/logo-home/portfolio.png" />
                    <span>Portfolio</span>
                </button>
                <button class="nav-button " routerLink="">
                    <img src="./assets/img/logo-home/experience.png" />
                    <span>Experience</span>
                </button>
            </div>
            <div class="column">
                <button class="nav-button " routerLink="skills">
                    <img src="./assets/img/logo-home/skills.png" />
                    <span>Skills</span>
                </button>
                <button class="nav-button " routerLink="">
                    <!-- <img src="./assets/img/logo-home/contacts.png" /> -->
                    <i class="fa-solid fa-user-group fs-4"></i>
                    <span >Testimonials</span>
                </button>
            </div>
           
        </div>







    </div>

 

</section>

