<button (click)="backToHome()"  class="colse-button active-button"></button>
<section class="content-page rounded-2 active">
    <div class=" welcome-skills container  vh-100 d-flex flex-column justify-content-around align-items-center ">
        <span class="fs-1 text-center fw-bolder">Take a look on my skills</span>
        <div class=" row g-0 w-100 d-flex justify-content-around ">

            <div class="col-xl-4 col-lg-6 my-2  ">
            <a href="#Technical-section" class="text-decoration-none w-100 d-flex align-items-center justify-content-center">
                <div class=" skills-card rounded-2  d-flex justify-content-center align-items-center py-2 ">
                        <img src="./assets/img/logo-skills/technicalskills.png"  width="70" alt="logo-skills">
                        <span class="ms-2 fs-5 fw-semibold">Technical Skills</span>
                </div>
            </a>
            </div>
            <div class="col-xl-4 col-lg-6 my-2 ">
            <a href="#Languages-section" class="text-decoration-none w-100 d-flex align-items-center justify-content-center">
                <div class=" skills-card rounded-2  d-flex justify-content-center align-items-center py-2 ">
                    <img src="./assets/img/logo-skills/languages.png"  width="70" alt="logo-skills">
                    <span class="ms-2 fs-5 fw-semibold">Languages</span>
                </div>
            </a>
            </div>
            <div class="col-xl-4 col-lg-6 my-2 ">
            <a href="#Soft-Skills-section" class="text-decoration-none w-100 d-flex align-items-center justify-content-center">
                <div class=" skills-card rounded-2  d-flex justify-content-center align-items-center py-2 ">
                    <img src="./assets/img/logo-skills/softskills.png"  width="70" alt="logo-skills">
                    <span class="ms-2 fs-5 fw-semibold">Soft Skills</span>
                </div>
            </a>
            </div>
        </div>
        <div>
            <div  id="contact-button">
                <a href="#section-contact" class="py-2 px-4 rounded-5 " role="button">Scroll Down</a>
            </div>
            <div class="mt-2 text-center" id="arrow-down" >
                    <i class="fa-solid fa-angle-down fs-4 "></i>
            </div>

        </div>
        

    </div>

    <div class="line-between text-center" id="section-contact">
        <span class="px-3 fs-5 fw-semibold">Technical Skills</span>
    </div>


    <section id="Technical-section">
        <div class="container">
            <diV class="row g-3  mt-3 mb-5 d-flex justify-content-center">

                <div class="Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class=" px-3 py-2 d-flex  justify-content-center align-items-center rounded-1 ">
                        <span class=" Technical-title  fw-bolder fs-3">Track: Front-End Developer </span>
                    </diV>
                </div>

             

                <div class="col-xl-3 col-lg-4  col-md-6   d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class="ms-2 fw-bold fs-6">HTML / CSS</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6   d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">SASS / Bootstrap </span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6   d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">JavaScript / Typescript</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6   d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">ECMASCRIPT 6</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6   d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class="  ms-2 fw-bold fs-6">Object-oriented programming</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">AJAX</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">JQuery</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4  col-md-6  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">REGULAR EXPRESSION</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4  col-md-6  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">Git / GitHub</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4  col-md-6  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">Angular</span>
                    </diV>
                </div>

                <div class="Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class=" px-3 py-2 d-flex  justify-content-center align-items-center rounded-1 ">
                        <span class=" Technical-title  fw-bolder fs-3">Track: Back-End Developer </span>
                    </diV>
                </div>
                <div class="d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 "></i>
                        <span class=" ms-2 fw-bold fs-6">ASP.NET <span class="text-danger fa-xs ms-2">In Progress</span></span>
                        <i class="fa-solid fa-spinner fa-spin-pulse ms-1 text-danger"></i>
                    </diV>
                </div>


            </diV>
        </div>

    </section>





    
    <div class="line-between text-center" id="section-contact">
        <span class="px-3 fs-5 fw-semibold">Languages I'm Speaking</span>
    </div>

    <section  id="Languages-section">
        <div class="container  my-3">
            <div class="row g-0 w-100 d-flex justify-content-evenly">

                <div class=" speak-card card-arabic-arrow col-lg-5 px-3 rounded-4 d-flex justify-content-between align-items-center">
                    <div class=" d-flex align-items-center">
                        <img src="./assets/img/logo-skills/arabic.png" width="60"  alt="Languages-logo">
                        <span class="ms-2 fs-5">Arabic</span>
        
                    </div>
             
                        <span class="fs-5">Native</span>
                  
                </div>

                <div class="speak-logo  col-lg-1 d-flex justify-content-center align-items-center ">
                    <img src="./assets/img/logo-skills/speak.png" width="85" alt="Languages-logo">
        
                </div>

                <div class=" speak-card card-english-arrow  col-lg-5  px-3 rounded-4 d-flex flex-row-reverse justify-content-between align-items-center">
                    <div class=" d-flex align-items-center">
                        <span class="me-2 fs-5">English</span>
                        <img src="./assets/img/logo-skills/english.png" width="60" alt="Languages-logo">
                        
        
                    </div>
                        <span class="fs-5 english-speak ">Conversational</span>
        
                
        
                </div>
    
            </div>

        </div>
    </section>

    <div class="line-between text-center" id="section-contact">
        <span class="px-3 fs-5 fw-semibold">Soft Skills</span>
    </div>

    <section id="Soft-Skills-section">
        <div class="container">
            <diV class="row g-3  mt-3 mb-5 d-flex justify-content-center">

                <div class="col-xl-3 col-lg-4 col-md-6 Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bold fs-6">Explanation skills</span>
                    </diV>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-6 Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bold fs-6">Public speaking</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bold fs-6">Presentation skills</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bold fs-6">Problem solving</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bold fs-6">Creative thinking</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bold fs-6">Team management</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bold fs-6">Team working</span>
                    </diV>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 Soft-Skills-card  d-flex  justify-content-center ">
                    <diV class="  py-4 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bold fs-6">Communication skills</span>
                    </diV>
                </div>

            </diV>

        </div>

    </section>
    


</section>
