<button (click)="backToHome()"  class="colse-button active-button"></button>
<section class="content-page rounded-2 active">
    <div class="container ">

        <div class="portfolio-content-resp row g-0 d-flex justify-content-center align-items-center vh-100 ">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                <div class="portfolio-text text-start ">
                    <span class="fs-1 fw-semibold ">Take a tour in my projects</span>
                    <p class="fs-6 mt-1 mb-5 fw-lighter ">Here you'll find some of my projects and applications.</p>
                    <div id="contact-button">
                    <a href="#Projects-section" class="py-2 px-4 rounded-5 " role="button">See Projects</a>
                </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-img-resp  d-flex justify-content-center ">
                <img src="./assets/img/logo-portfolio/folder.png" width="400" alt="portfolio-img">
            </div>
        </div>

        <!-- <div class="line-between text-center">
            <span class="px-3 fs-5 fw-semibold">Projects & Applications</span>
        </div>

        <div id="Projects-section">


        </div> -->








    </div>
   

</section>