
    <button (click)="backToHome()"  class="colse-button active-button"></button>

<section   class="content-page rounded-2 active ">
        <div  class="container">
            <div class="row g-0 vh-100 welcome position-relative ">
                    <div class="col-lg-6 welcome-text d-flex justify-content-center  align-items-center ">
                        <div class=" welcome-text-resp  d-flex flex-column justify-content-center align-content-center  ">
                        <div class="text-resp">
                        <p >welcome mr visitor</p>
                        <p >I'm <span>Galal Hegazy</span></p>
                        <p >Web Developer</p>
                        </div>
                        

                        <div class="button-resp">
                            <a href="https://drive.google.com/file/d/1EcSpfYQtmA75s8ogFComfX6XYk7jVrUB/view?usp=sharing" target="_blank" class="text-decoration-none ">
                            <button class="button-24 mt-4">Download CV</button>
                            </a>

                        </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-6 welcome-img d-flex justify-content-center align-items-center ">
                        <img src="./assets/img/my-img/img2.jpg" alt="Galal Hegazy" width="400">
    
                    </div>
     
            </div>


            <div class="line-between text-center">
                <span class="px-3 fs-5 fw-semibold">About Me</span>
            </div>

            <div class="row g-2 my-4 d-flex justify-content-evenly">

                <div class="about-me-content ">
                    <p class=" rounded-2 p-3">
                        Welcome mr visitor, it’s an honor to see you here in my modest portfolio. 
                         I’m Galal Hegazy a full-stack web developer and UI/UX designer for more than one year.
                        I can help you create your website and increase your community or sales.
                        Don’t move back, take the step and contact me. 
                        And I can turn your website into an offline application, or responsive to be viewable on all devices, 
                        and there are many other techniques that will make your website unique.
                    </p>
                </div>

                <div class="col-xl-3 col-md-5 about-details-card  d-flex flex-column justify-content-center align-items-center py-3  rounded-2">
                        <i class="fa-regular fa-clock "></i>
                        <span class="fw-medium mt-3 fs-5 ">25 years old</span>
                </div>
                <div class="col-xl-3 col-md-5 about-details-card  d-flex flex-column justify-content-center align-items-center py-3 rounded-2">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="fw-medium mt-3 fs-5  ">Egypt, Cairo</span>
                </div>
                <div class="col-xl-3 col-md-5 about-details-card  d-flex flex-column justify-content-center align-items-center py-3 rounded-2">
                        <i class="fa-solid fa-envelope"></i>
                        <span class="fw-medium mt-3 fs-5  ">galalhatem14&#64;gmail.com</span>
                </div>





            </div>

    
            <div class="line-between text-center">
                <span class="px-3 fs-5 fw-semibold">Learning</span>
            </div>

            <div class="section-Learning row g-2 my-4 d-flex justify-content-between ">

                <div class="col-xl-6 Learning-card  d-flex  justify-content-center ">
                    <diV class=" py-4 px-2 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2"></i>
                        <span class="ms-2 fw-bolder fs-6">Busniess Information System • Helwan Unveristy</span>
                    </diV>
                </div>
                <div class="col-xl-6 Learning-card  d-flex  justify-content-center ">
                    <diV class=" py-4 px-2 d-flex  justify-content-center align-items-center rounded-5 ">
                        <i class="fa-solid fa-fire fs-2 ms-1 "></i>
                        <span class="ms-2 fw-bolder fs-6 text-center "> Route Academy Diploma 9-Month </span>
                          <span class="ms-2 fw-bolder fs-6 text-center ">Track: full-stack web developer </span>  
                    </diV>
                </div>
                
            </div>

            <div class="line-between text-center">
                <span class="px-3 fs-5 fw-semibold">Message Me</span>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4 mb-5">
                <form action="" class=" Message-Me-form  "> 
                    <input type="text" name="" placeholder="Name" class="form-input">
                    <input type="email" required placeholder="Email" class="form-input">
                    <input type="tel" required placeholder="WhatsApp" class="form-input">
                    <textarea name=""  placeholder="Your Message" rows="5"  class="form-input" ></textarea>
                    <div class=" form-button d-flex justify-content-center align-items-center mt-3">
                        <button class=" button-36">
                            <span class="text">Send Message</span>
                        </button>                        


                    </div>
                    
                </form>
            </div>

        </div>
</section>
