<button (click)="backToHome()"  class="colse-button active-button"></button>
<section class="content-page rounded-2 active">

    <div class="container">

        <div class="welcome-contact d-flex flex-column justify-content-center align-items-center vh-100  ">
           
                <img src="./assets/img/logo-contact/contact-page.png" width="300"  alt="contact-logo">

                <div class="contact-text d-flex flex-column justify-content-center align-items-center mt-5 mb-3  ">
                    <span class="fs-1 fw-semibold">I'm here for you anytime</span>
                    <span class="fs-4 fw-lighter">Just Contact Me</span>
                </div>
                
                <div  id="contact-button">
                    <a href="#section-contact" class="py-2 px-4 rounded-5 " role="button">Scroll Down</a>
                </div>
                <div class=" mt-1 " id="arrow-down" >
                        <i class="fa-solid fa-angle-down fs-4 "></i>
                </div>
        </div>

        <div class="line-between text-center" id="section-contact">
            <span class="px-3 fs-5 fw-semibold">Contact Me</span>
        </div>

        <div class="row d-flex justify-content-evenly">
            <div class="col-xl-4 Contact-card py-5 ">
                <a href="https://www.facebook.com/galalhatem77?mibextid=LQQJ4d" target="_blank" class="text-decoration-none">
                <div class="icon d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-brands fa-facebook-messenger fa-shake "></i>
                    <span class="mt-2 fw-bolder">Messenger</span>
                </div>
                </a> 
            </div>
        

            <div class="col-xl-4 Contact-card py-5 ">
                        <a href="https://wa.me/1111332278" target="_blank" class="text-decoration-none">
                        <div class="icon d-flex flex-column justify-content-center align-items-center">
                            <i class="fa-brands fa-whatsapp fa-shake"></i>
                              <span class="fw-bolder  mt-2">Whatsapp</span>
                        </div>
                        </a> 
                    </div>

        </div>


        <div class="line-between text-center">
            <span class="px-3 fs-5 fw-semibold">Visit Me</span>
        </div> 

        <div class="row">
            <div class="col-xl-4 Contact-card py-5 ">
                <a href="https://www.facebook.com/galalhatem77?mibextid=LQQJ4d" target="_blank" class="text-decoration-none">
                <div class="icon d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-brands fa-facebook"></i>
                    <span class="mt-2 fw-bolder">Fasebook</span>
                </div>
                </a> 
            </div>
            <div class="col-xl-4 Contact-card py-5 ">
                <a href="https://instagram.com/hegazy.1?igshid=MzMyNGUyNmU2YQ%3D%3D&utm_source=qr" target="_blank" class="text-decoration-none">
                <div class="icon d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-brands fa-instagram"></i>
                    <span class="mt-2 fw-bolder">instagram</span>
                </div>
                </a> 
            </div>
            <div class="col-xl-4 Contact-card py-5 ">
                <a href="https://github.com/GalalHegazy" target="_blank" class="text-decoration-none">
                <div class="icon d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-brands fa-github"></i>
                    <span class="mt-2 fw-bolder">github</span>
                </div>
                </a> 
            </div>
          

        </div>



    </div>

</section>